<h4>Add Collaborators </h4>
<table style="width:50%">
 <div class="form-group">
    <%# this should more properly use a variable set in your controller rather than User.all - for example you might want to limit the list of possible collaborators according to some condition %>
    <% User.all.each do |user| %>
      <tr>
        <% if user != wiki.user %>
          <td><%= user.name %></td>
        <% end %>
        <% if wiki.private? && user != wiki.user && !(collaborator = user.collaborator_for(wiki, user)) %>
          <td><%= link_to  "make collaborator", collaborators_path(wiki_id: wiki.id, user_id:user.id), class: 'btn btn-primary', method: :post %></td>
        <% end %>
        <% if wiki.private? && user != wiki.user && current_user == wiki.user && (collaborator = user.collaborator_for(wiki,user)) %>
          <td><%= link_to "Remove_collaborator", collaborator_path(user.collaborator_for(wiki,user)), class: 'btn btn-danger', method: :delete %></td>
        <% end %>
      </tr>
    <% end %>
  </div>
</table>