<div style="width:200px;height:200px;float:left;color:white;background-color:black;margin-top:10px;margin-left:120px;margin-right:400px;">
   <%= render "devise/shared/project_name"%>
  <h3>Release 1.0</h3>
</div>




