
 
 <li><%= link_to 'help', 'https://github.com/sharadalt/sharadalt.github.io/blob/master/_portfolio/blocipedia2.md' %></li>
<p>
Micropedia application provides the solution for you with multiple features and in 
a cost effective manner. Once you are registered, You can create free Markdown wikis using Micropedia. 
You can pay minimal money and have your own private wikis/documents and collaborate with colleagues. 
Bocipedia provides wiki CRUD operations as well.<br> 

Micropedia is built in Ruby on Rails framework with MVC architecture. It uses html , CSS and bootstrap-sass 
to stylize. It uses ruby gems to achieve some of it's tasks. It uses PostgreSQL for it's database needs on Heroku.</p>
