<% content_for :top_content do %>
  <br><br><br><br><br><br><br>
  <div class="container-fluid text-center">
    <%= render "devise/shared/project_name"%>
    <h1 style="text-align:center;">Micropedia:</h1>
    <h2 style="text-align:center; font-family:AIR DARLING;margin-top:2px">&nbsp;&nbsp;Create & Share Markdown Wikis and Collaborate <br> 
                          with colleagues on documents </h2> <br> 
    <div style="margin-left:-5px;margin-top:50px;" >
      <%= link_to "Get Started", welcome_index_path, class: 'btn btn-primary btn-lg' %>
    </div>
  </div>
<% end %>