</br>
<ul class="nav navbar-nav pull-right">
 <li><%= link_to 'help', 'https://github.com/sharadalt/sharadalt.github.io/blob/master/_portfolio/blocipedia2.md',style:'color:white;font-weight:bold;margin-left:40px;' %></li>
</ul>            