
<%# raise @wiki.inspect %>
<div class = "row">
<% if @wiki.private? %>
  <%= render partial: 'collaborators/collaborator', locals: { wiki: @wiki } %>
  <h2>Edit Private wiki</h2>
<% else %>
  <% header "Edit Public wiki" %>
<%end%>
<%= render partial: 'form', locals: {todo: @todo,user:@user} %>
</div>