<!DOCTYPE html>
<html>
<head>
<style>
table, th, td {
    border: 1px solid blue;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    width: 500px;
}
</style>
</head>
<body>
<ul class="nav navbar-nav pull-left">
<%= @user.name %>
<br>
<h4>My Wikis</h4>
<table style="width:70%">
  <tr>
    <th>Wiki(click link to edit) </th>
    <th>Wiki(click link to delete) </th>
  </tr>
<% @wikis.each do |wiki| %>
  <tr>
    <td><%= link_to wiki.title, edit_wiki_path(wiki), class: 'btn btn-success' %></td>
    <td><%= link_to "complete", [wiki], method: :delete %></td>
  </tr>
<% end %>
  </div>
</div>
</table>
<h4>Create New Wiki</h4>
<div class="row">
  <div class="col-md-4">
    <%= render partial: 'form', locals: {wiki: @wiki} %>
    <%#= link_to "New", new_wiki_path(current_user, @wiki), class: 'btn btn-success' %>
  </div>
</div>
</ul>
</body>
</html>
