<div style="width:90%; height:100%; margin-left:150px;background-color:black; border: 3px solid #191970; color:white">
<h2>Wiki Show</h2>
<%= markdown(@wiki.title)%>
<%= markdown(@wiki.body)  %>
</div>