<table style="width:100%;; background-color:black;color:white">
  <tr>
    <th>Wiki Title</th>
    <th>Wiki Body</th>
  </tr>
  <tr>
    <td><%= @wiki.title %></td>
    <td><%= markdown(@wiki.body)  %></td>
  </tr>
 </table>